body {
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

img {
  background: #000;
}

ul {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  border: 1px solid #000;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 50px;
  border: 1px solid #000;
}

.n {
  position: absolute;
  top: 100px;
  height: auto;
  width: auto;
  background: transparent;
  transition: opacity 0.3s;
  margin: 0 0 0 2em;
}
.n > img {
  display: none;
}

.n1 {
  top: 200px;
}
.n2 {
  top: 300px;
}
.n3 {
  top: 400px;
}
.n4 {
  top: 500px;
}

#block {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #ea3434;
  color: #fff;
  z-index: 100;
  display: none;
}

#container {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  pointer-events: none;
}
